this is blogPage.handlebars
{{!-- {{#each blog}}
    {{blog.title}}
    {{blog.content}}
{{/each}} --}}
<br><br><br><br><br><br><br><br><br><br>
{{#each blog}}
Title:
<li>{{this.title}}</li>
Content:
<li>{{this.content}}</li>
{{/each}}
    